# backend
/backend/node_modules
/backend/.env
/backend/.env.local

# frontend
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.DS_Store
/frontend/*.pem
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.env*.local
/frontend/.env*.production
/frontend/*.tsbuildinfo
/frontend/.vercel

# mobile
/mobile/node_modules
/mobile/.expo/
/mobile/dist/
/mobile/npm-debug.*
/mobile/*.jks
/mobile/*.p8
/mobile/*.p12
/mobile/*.key
/mobile/*.mobileprovision
/mobile/*.orig.*
/mobile/web-build/
/mobile/.DS_Store